@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.apresentacao__principal
{
    background-color: silver;
}

.apresentacao__benefícios
{
    background-color: white;
}

#banner
{
    width: 100%;
}

h1{
    text-align: center;
}

p
{
    text-align: center;
}

body
{
    background: silver;
    font-family: 'Montserrat', sans-serif;
}

strong em
{
    color: red;
}

#missão
{
    font-size: 20px;
}

.item
{
    font-style: italic;
}

.imagem_beneficios
{
    width: 50%;
}